bin/
node/node_modules
node/node_modules/**
node/README.md
cc.sol
*.ipynb
.vscode/settings.json
.vscode/settings.json
python/.idea/
*.pyc
results/
CCF/
Datasets/
node/app1.js
node/routes/router01.js
.vscode/settings.json
Contracts/examples/*
python/scratch/*
scratch/*
